<a href="https://colab.research.google.com/github/SJcodeML/python_all_projects_from_panaversity/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

AIRTHMETIC OPERATORS :who performs mathematical operations (actions)
OPERANDS : who let you perform operations on them

In [ ]:
a: int = 10
b: int = 3
print("a + b  = ", a + b)   # 13 Addition
print("a - b  = ", a - b)   # 7 Subtraction
print("a * b  = ", a * b)   # 30 Multiplication
print("a / b  = ", a / b)   # 3.3333333333333335 division
print("a // b = ", a // b)  # 3 Floor Division
print("a % b  = ", a % b)   # 1 Modulus (remainder) shift 5
print("a ** b  = ", a ** b)  # 1000 Exponentiation (10 * 10 * 10)  shift 8

In [ ]:
x = 25
y = 4
print ("a+b = " , x+y)

a+b =  29

In [ ]:
a = 44
b = 40
print("a - b = " , a - b)

a - b =  4

In [ ]:
c = 4
d = 5
print ("c * d = " , c * d)

c * d =  20

In [ ]:
f = 4
d = 4

print("f / d = " , f / d)

print ("when we want a single value (floor division) so we use //")

#example

print("f // d = " , f // d)

f / d =  1.0
when we want a single value (floor division) so we use //
f // d =  1

In [ ]:
f = 5
d = 4
print("f % d = " , f % d)

f % d =  1

In [ ]:
g = 19
h = 4
print("g % h = " , g % h)

g % h =  3

In [ ]:
y =  25
z = 2
print("y % z = " , y %z)

y % z =  1

In [ ]:
a = 7
b = 4


print("a ** b  = ", a ** b)

a ** b  =  2401

2. Comparison (Relational) Operators
Used to compare two values.


Operator	Name	Example
==	Equal	5 == 5 → True
!=	Not equal	5 != 3 → True
>	Greater than	5 > 3 → True
<	Less than	5 < 3 → False
>=	Greater than or equal	5 >= 5 → True
<=	Less than or equal	5 <= 3 → False

In [ ]:
a = 9
b = 8

print(a==b)

False

In [ ]:
a = 9
b = 9
print ( a == b)

True

In [ ]:
f  = 6
a =  6
print(f == a)

True

In [ ]:
g = 9
h = 5
print(g == h)

False